
<ion-header>
  <!-- contenedor del título -->
  <ion-toolbar color="primary">
    <!-- título -->
      <ion-title class="titulo round">Expos</ion-title>
      <!-- botón regresar -->
      <ion-buttons slot="start"> 
          <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-app>  
    <ion-content>
      <!-- card contenedor de imagen, nombre y temporada -->
      <ion-col>
      <ion-card (click)="abrirExpo()">  <!-- función click -->
        <img class="imagenes round" src="http://via.placeholder.com/150x150/CCC" />
        <ion-card-header>
          <ion-card-title>Expo nombre - Año</ion-card-title>
          <ion-card-subtitle>Temporada - Año</ion-card-subtitle>          
        </ion-card-header>
      </ion-card>
    </ion-col>

      <ion-card (click)="abrirExpo()">
          <img class="imagenes round" src="http://via.placeholder.com/150x150/CCC" />
          <ion-card-header>
            <ion-card-title>Expo nombre - Año</ion-card-title>
            <ion-card-subtitle>Temporada - Año</ion-card-subtitle>          
          </ion-card-header>

        </ion-card>
    </ion-content>
     <!-- PENDIENTE (botón para crear carpeta nueva) -->
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="abrirExpo()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  </ion-app>

      
   