.titulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;;
}
ion-content *{
    margin-top: 20%;
    margin-bottom: 10%;
}
ion-col *{
    margin-bottom:-20%;
}
ion-card * {
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: -2%;
    width: 90% !important;
    height: 40% !important;
}
ion-card-header *{
    margin-top: -5%;
    width: 100% !important;
    margin-left: -2%;   
    margin-bottom: 5%;
}


.imagenes {
    filter: drop-shadow(3px 4px 4px #444);
  }