<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <!-- imagen -->
    <ion-row>
        <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
            <img class="imagenes round" src="http://via.placeholder.com/150x150/CCC" >
        </ion-col>
    </ion-row>

<ion-row>
  <ion-col col-12 col-md-6 col-lg-4 col-xl-3> 
    <ion-list>
      <ion-item lines="none">
        <!-- Usuario -->
        <ion-input placeholder="Usuario"></ion-input>
      </ion-item>  
      <ion-item lines="none">
        <!-- Contraseña -->
        <ion-input placeholder="Contraseña" type="password"></ion-input>    
      </ion-item>
      <!-- Botón login -->
        <ion-button color="primary" expand="full" (click)="validar()">Login</ion-button>
    </ion-list>
  </ion-col>
</ion-row>


</ion-content>
