
ion-item *{     //formato para los items
    text-align: center;
vertical-align: middle;
position: relative;
font-size:8vw !important;    
}

ion-col *{  //formato para las columnas
    margin-bottom: 5%;
    margin-top: 5;
}

    .imagenes {     //formato para la clase de la imagen
        align-self: center;
        margin-top: 2%;
        width: 60% !important;
        height: auto !important;
        filter: drop-shadow(3px 4px 4px #444);
      }

ion-button{     //formato para el botón del login
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 20%;
    width: 60% !important;
    font-size:6vw !important;
    height: 60px !important;
    filter: drop-shadow(3px 4px 4px #444);  //sobreado
}