<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" >

            <!--<ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion- >
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item> -->

          
                  <ion-item (click)="login()" >
                    <ion-icon name="contact" slot="start"></ion-icon>
                    <ion-label>Login</ion-label>
                  </ion-item>
                  <ion-item (click)="carpetas()">
                    <ion-icon name="folder" slot="start"></ion-icon>
                    <ion-label>Expos</ion-label>
                  </ion-item>                
                         
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
