
ion-item *{
    text-align: center;
    font-size: 20px;
}
.imagenes {
    align-self: center;
    margin-top: 2%;
    margin-left: 30%;
    width: 40% !important;
    height: auto !important;
    filter: drop-shadow(3px 4px 4px #444);
  }
.titulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;;
}
.separado{
   margin-bottom: 2%;
   text-align: center;
   filter: drop-shadow(3px 4px 4px #444);
}
.centrado{
    text-align: center;
    filter: drop-shadow(3px 4px 4px #444);
}
