
<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="titulo round">Agregar Producto</ion-title>
  </ion-toolbar>
   
  <ion-list> 
    <!-- imagen -->
      <ion-col  col-6 width-50 text-center>           
          <img  class="imagenes round"  src="http://via.placeholder.com/150x150/CCC" (click)="VerImagen()">
      </ion-col>

    <!-- boton para mostrar colores 
    <div class="centrado">
    <ion-button  color="danger" (click)="accion1()"> Colores </ion-button> 
  </div>      --> 
  </ion-list>
  
</ion-header>


<ion-content>
        <!-- Texto flotante -->
        <ion-item>
            <ion-label position="floating">Estilo</ion-label>
            <ion-input clearInput [(ngModel)]="Modelo"></ion-input>
            
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Color</ion-label>
          <ion-input clearInput [(ngModel)]="Color"></ion-input>
      </ion-item>
 
  <!-- lista de colores ocultos
  <ion-content  *ngIf="ocultar1" >
      <ion-list>
        <ion-item  *ngFor="let item of items" (click)="accion1()" (click) ="buttonClick()"  >
          {{ item }}
        </ion-item>
      </ion-list>
    </ion-content> 
   -->
</ion-content>

<ion-footer>
  <!-- buscador
    <ion-toolbar *ngIf="ocultar1" color="gray" class="centrado">
        <ion-searchbar placeholder="Bucar color" (ionInput)="getItems($event)"><ion-button (click)="otro()" (click)="accion1()">otro</ion-button></ion-searchbar>
      </ion-toolbar> -->
<!-- botones "Aceptar" y "Cancelar" -->
    <div class="separado">
        <ion-button id="btnAceptar" (click)="abrirExpo()" (click)="closeModal()" color="secondary">Agregar</ion-button>
        <ion-button color="secondary" (click)="closeModal()"> Cancelar </ion-button>
        </div>
  </ion-footer>