<ion-header>
  <ion-toolbar>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <label>Marca: </label>
      <ion-select id="marcas" placeholder="Seleccionar">
          <ion-select-option value="01">opcion 1 </ion-select-option>
          <ion-select-option value="02">opcion 2 </ion-select-option>
      </ion-select>  
  </ion-item>

  <ion-item>
    <label>Proveedor: </label>
      <ion-select id="proveedores" placeholder="Seleccionar">
        <ion-select-option value="01">opcion 1 </ion-select-option>
        <ion-select-option value="02">opcion 2 </ion-select-option>
      </ion-select>  
  </ion-item>

  <ion-item>
    <label>Modelo: </label>
      <ion-select id="modelo" placeholder="Seleccionar">
        <ion-select-option value="01">opcion 1 </ion-select-option>
        <ion-select-option value="02">opcion 2 </ion-select-option>
      </ion-select>  
  </ion-item>

  <ion-item>
    <label>Costo: </label>
      <ion-select id="costo" placeholder="Seleccionar">
        <ion-select-option value="01">opcion 1 </ion-select-option>
        <ion-select-option value="02">opcion 2 </ion-select-option>
      </ion-select>  
  </ion-item>

  <ion-item>
    <label>Color: </label>
      <ion-select id="color" placeholder="Seleccionar">
        <ion-select-option value="01">opcion 1 </ion-select-option>
        <ion-select-option value="02">opcion 2 </ion-select-option>
      </ion-select>  
  </ion-item>

  <ion-item>
    <label>Acabado: </label>
      <ion-select id="acabado" placeholder="Seleccionar">
        <ion-select-option value="01">opcion 1 </ion-select-option>
        <ion-select-option value="02">opcion 2 </ion-select-option>
      </ion-select>  
  </ion-item>

  <br>
  <br>

  <div class="centrado">
    <ion-button id="btnAceptar" color="secondary">Aceptar</ion-button>
    <ion-button id="btnCancelar" color="secondary" (click)="closeModal()">Cancelar</ion-button>
  </div>
</ion-content>
