ion-col *{
    size: 3;
    offset: 3;
    margin-left: 4%;
    margin-bottom: 3%;
}
.titulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;;
}
.imagenes {
    filter: drop-shadow(3px 4px 4px #444);
  }