
<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" >
          <ion-back-button defaultHref="carpetas"></ion-back-button>
        </ion-buttons>
    <ion-title class="titulo round">NombreExpo</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
<!-- contenedores -->
  <ion-grid>
    <ion-row>
      <!-- columna en la que se hubicará cada imagen -->
        <ion-col size="3" size-sm>
        <img class="imagenes round" src="http://via.placeholder.com/150x150/CCC" alt="" srcset="" (click)="VerImagen()">
      </ion-col>

      <!-- imagenes puestas solo para revisar la posición -->
      <ion-col size="3" size-sm>
          <img class="imagenes round" src="http://via.placeholder.com/150x150/CCC" alt="" srcset="" (click)="VerImagen()">
      </ion-col>
      <ion-col size="3" size-sm>
          <img class="imagenes round" src="http://via.placeholder.com/150x150/CCC" alt="" srcset="" (click)="VerImagen()">
        </ion-col>
        <ion-col size="3" size-sm>
          <img class="imagenes round" src="http://via.placeholder.com/150x150/CCC" alt="" srcset="" (click)="VerImagen()">
        </ion-col>
        <ion-col size="3" size-sm>
        <img class="imagenes round" src="http://via.placeholder.com/150x150/CCC" alt="" srcset="" (click)="VerImagen()">
      </ion-col>
        <ion-col size="3" size-sm>
            <img class="imagenes round" src="http://via.placeholder.com/150x150/CCC" alt="" srcset="" (click)="VerImagen()">
          </ion-col>
          <ion-col size="3" size-sm>
            <img class="imagenes round" src="http://via.placeholder.com/150x150/CCC" alt="" srcset="" (click)="VerImagen()">
          </ion-col>
          <ion-col size="3" size-sm>
              <img class="imagenes round" src="http://via.placeholder.com/150x150/CCC" alt="" srcset="" (click)="VerImagen()">
            </ion-col>
            <ion-col size="3" size-sm>
              <img class="imagenes round" src="http://via.placeholder.com/150x150/CCC" alt="" srcset="" (click)="VerImagen()">
            </ion-col>
            
    </ion-row>
  </ion-grid>
<!-- botón para tomar foto a un artículo nuevo -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="nuevaFoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
