<ion-header>
      <ion-title>
        Colores
      </ion-title>
  </ion-header><!-- 
 <ion-content>
  <button ion-button block (click)="presentActionSheet()">
    Show Action Sheet
  </button>
</ion-content>
<ion-content *ngIf="ocultar1">
<ion-footer>
    <ion-toolbar color="gray">
      <ion-searchbar placeholder="bucar Color" (ionInput)="getItems($event)"><ion-button (click) ="buttonClick()">otro</ion-button></ion-searchbar>
    </ion-toolbar>
  </ion-footer>

  <ion-content class="listas round">
      <ion-list>
        <ion-item  *ngFor="let item of items" (click) ="buttonClick()" >
          {{ item }}
        </ion-item>
      </ion-list>
    </ion-content>
    </ion-content>

  <ion-button  color="secondary" (click)="accion1()"> Botón </ion-button>

  <ion-card *ngIf="ocultar1">
     <ion-card-header>
       Colores       
     </ion-card-header>


     
     <ion-card-content>

 

     </ion-card-content>
  </ion-card>
-->


<ion-content padding>

  <ion-list>
      <form #myForm="ngForm" (ngSubmit)="postData()">
          <ion-item>
              <ion-label floating>Name</ion-label>
              <ion-input type="text" [(ngModel)]="users.name" id="name" name="name" required #name="ngModel"></ion-input>

          </ion-item>
          <span *ngIf="name.errors">
              <span [hidden]="!name.errors.required">
                  <ion-label style="color: red; margin-left: 16px;"> Name is required </ion-label>
              </span>
          </span>

          <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="email" id="email"  [(ngModel)]="users.email"  name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required #email="ngModel"  ></ion-input>
          </ion-item>
          <span *ngIf="email.errors">
              <span [hidden]="!email.errors.required">
                  <ion-label style="color: red; margin-left: 16px;"> Email is required </ion-label>
              </span>
              <span [hidden]="!email.errors.pattern">
                  <ion-label style="color: red; margin-left: 16px;"> Please enter a valid email </ion-label>
              </span>
          </span>

          <ion-item>
              <ion-label floating>Contact</ion-label>
              <ion-input type="number" id="contact" [(ngModel)]="users.contact" name="contact" required #contact="ngModel"></ion-input>
          </ion-item>
          <span *ngIf="contact.errors">
              <span [hidden]="!contact.errors.required">
                  <ion-label style="color: red; margin-left: 16px;"> Contact is required </ion-label>
              </span>
          </span>

          <ion-item>
              <button [disabled]="!myForm.form.valid" type="submit" ion-button block>Submit</button>
          </ion-item>
      </form>
  </ion-list>
</ion-content>