
<ion-header>
  <!-- contenedor del título -->
    <ion-toolbar color="primary">
      <!-- boton regresar -->
        <ion-buttons slot="start" >
            <ion-back-button defaultHref="expo"></ion-back-button>  
          </ion-buttons>
          <!-- título -->
        <ion-title class="titulo round">Modelo - Articulo - Color</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <!-- imagen  / PhotoViewer pendiente -->
        <ion-col  col-6 width-50 text-center>           
            <img  class="imagenes round"  src="http://via.placeholder.com/150x150/CCC" (click)="VerImagen()">
        </ion-col>
        
    <ion-item>
      <ion-label>Tallas: </ion-label>
        <ion-select id="tallas" placeholder="Seleccionar">
          <ion-select-option value="o1">Opcion 1</ion-select-option>
          <ion-select-option value="o2">Opcion 2</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Colores: </ion-label>
          <ion-select id="provedores" placeholder="Seleccionar">
            <ion-select-option value="o1">Opcion 1</ion-select-option>
            <ion-select-option value="o2">Opcion 2</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-item>
          <ion-label>Estilo: </ion-label>
            <ion-select id="estilo" placeholder="Seleccionar">
              <ion-select-option value="o1">Opcion 1</ion-select-option>
              <ion-select-option value="o2">Opcion 2</ion-select-option>
            </ion-select>
        </ion-item>

  </ion-list>

  <div class="centrado">
      <ion-button color="primary" expand="full">Actualizar</ion-button>
  </div>

</ion-content>