

ion-button{
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 20%;
    width: 60% !important;
    font-size:6vw !important;
    height: 60px !important;
    filter: drop-shadow(3px 4px 4px #444);
}
.titulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;;
}
.imagenes {
    align-self: center;
    margin-top: 2%;
    margin-left: 25%;
    width: 50% !important;
    height: auto !important;
    filter: drop-shadow(3px 4px 4px #444);
  }